<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar  a:hover  {
      margin-bottom: 0;
      border-radius: 0;
      background-color:#F0F8FF;
      background: rgba(0,0,0,.3);
      padding-bottom: 20px;
       
  
}


    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav  {
      background-color: #f1f1f1;
      height: 30%;
      width: 300px;
    }
    .ab{
      font-size: 15px;
    }

    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      width: 2000px;
    }
    .dropdown{
      padding-top:10px; 
    }
    
.nav1 a:hover{
  background-color: #8A2BE2;

}

    
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  top: 70%;
  right: 43%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.text-block {
    
   
   position: absolute;
    bottom: 250px;
    right: 500px;
    background-color: black;
    color: white;
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.5;

}


.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}

.carousel-inner{
  
  height: 600px;
}
.container {
  position: relative;

  
}

.image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.overlay {
  
 
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  </style>




</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="ab">
      <ul class="nav navbar-nav">
        
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
        <li><a href="/register"><span class="glyphicon glyphicon-envelope"></span> Feedback</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-globe"></span> About Us</a></li>
      </ul></div>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        
        <div class="dropdown">
  <button class="btn btn-primaryy dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>Profile
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Logout</a></li>
    
  </ul></div></ul>


    <li style="font-size: 15px;"><a href="#"><span class="glyphicon glyphicon-bell"></span> Notifications</a></li>
      </ul>
      </div>
    </div>
    </nav>


 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="/static/ccc.jpg" alt="Los Angeles" style="width: 100%">
        
      </div>

      <div class="item">
        <img src="/static/bb.jpg" alt="Chicago" style="width: 100%">
        
      </div>
    
      <div class="item">
        <img src="/static/book1.jpg" alt="New York"  >
        
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
 <button class="button" style="vertical-align:middle"><span>Start </span></button>
 
 
  <div class="text-block">
      <b>  <h1 style="font-size: 20px;">We Help You Choose the Right Talent</h1></b>
           </div>
           
    </div>
  </div><br><br>
  
  <table> 
    
   <tr>
<th>
  <div class="col-sm-3" style="margin-left: 200px;"><center>
<div class="container">
  <a href="#home"><img src="/static/app.jpg" alt="Snow" id="b" style="width:90%;opacity: 0.6;">
  

  <div class="overlay">
   <div class="text" style="font-family: arial;font-size: 30px;">Courses/Tutorials</div>
  </div></a>
</div>

<th>
  <div class="container">
  <a href="#home"><img src="/static/ap1.jpg" alt="Snow" id="b" style="width:90%;opacity: 0.6;">
    <div class="overlay">
   <div class="text" style="font-family: arial;font-size: 30px;">Practice Tests</div>
  </div></a>
</div>
  </th>
      </center>
<th>
  <div class="container">
  <a href="#home"><img src="/static/lp.jpg" alt="Snow" id="b"style="width:90%;opacity: 0.6;">
    <div class="overlay">
   <div class="text" style="font-family: arial;font-size: 30px;">Payment</div>
  </div></a>
</div>
  </th>
       
    </div></th></tr><br><br>
  <tr>
    
  <th> 
    <div class="container"><a href="#home"> <center><img src="/static/level.jpg" alt="Snow" id="b" style="width:90%;opacity: 0.6;">
    <div class="overlay">
   <div class="text" style="font-family: arial;font-size: 30px;">Levels</div>
        </div></center></a></div></th>

<th>
  <div class="container">
  <a href="#home"><img src="/static/exam.jpg" alt="Snow" style="width:90%;opacity: 0.6;">
    <div class="overlay">
   <div class="text" style="font-family: arial;font-size: 30px;">Exams</div>
  </div></a>
</div>
  </th>

<th>
<div class="container">
  <a href="#home"><img src="/static/b.jpg" alt="Snow" style="width:90% ; opacity: 0.6;">
    <div class="overlay">
   <div class="text"style="font-family: arial;font-size: 30px;">Leaderboard</div>
  </div></a>
</div>
      </th></tr></table>




      <br>
    
     
  
      
  
    
      
    
    

    <div class="col-sm-8 text-left"> 
     
<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
